html
  +no-cush
  letter-spacing: 1.25px

body
  +box-fluid
  font-style: italic
  font-family: Ubuntu
  font-size: 16.1803398875px
  //background: transparentize(#333, .5)
  //z-index: -2
  +bg-cover-fixed
  background-image: url(../img/image-mix-01.png)
  #page-wrap
    +box-fluid
    background: transparentize(#444, .9)
    #section-wrap
      +box-config(100%, auto, 0, 0 1em 20px)

.bg-img-container
  position: fixed
  left: -0%
  top: -0%
  +box-config(100%, auto, 0, 0)
  z-index: -1
  @media (max-width: 992px) and (orientation: portrait)
    left: -0%
    top: -0%
    +box-config(100%, auto, 0, 0)
    .bg-img.hidden
      opacity: 1
      transition: all 1s ease-in-out .1s
  //@media (max-width: 992px) and (orientation: landscape)
    left: -0%
    top: -75%
    +box-config(100%, auto, 0, 0)
    opacity: 1
    .bg-img.hidden
      position: relative
      +box-fluid
  @media (min-width: 993px) and (orientation: landscape)
    background-image: url(../img/image-mix-01.png)
    background-size: 100% auto
    background-attachment: fixed
    background-position: 40% 0%
    background-repeat: no-repeat
    opacity: 1
    .bg-img.hidden
      opacity: 0
      transition: all 1s ease-in-out .1s

section
  +box-config(100%, 100%, 0, 40vh 20px)
  min-height: 50vh
  font-size: 1.75em
  color: #fff
  background-color: $clr-dark-blue-half
  @media (min-width: 769px)
    //font-size: 2.25em

h1,
h2,
h3,
h4,
h5,
h6
  +box-config(auto, auto, 10vh auto 0, 3vh 0)
  text-align: center
  color: $clr-grey
  background: $clr-med-grey
  text-shadow: 1px 1px 3px $clr-orange
  +outline-orange
  font-weight: 600
  @media (min-width: 300px) and (max-width: 550px)
    font-size: 1.5em
  @media (min-width: 551px) and (max-width: 768px)
    font-size: 1.75em
  @media (min-width: 769px) and (max-width: 992px)
    font-size: 2em
  @media (min-width: 993px)
    font-size: 2.25em

p
  max-height: 45vh
  overflow: auto
  font-size: 1em
  text-align: center
  background: $clr-med-grey
  color: #fff
  +outline-orange
  +para-shadow-1
  +cush(20px 0 40px, 20px 3px)
  @media (min-width: 300px) and (max-width: 550px)
    font-size: .75em
  @media (min-width: 551px) and (max-width: 768px)
    font-size: .875em
  @media (min-width: 769px) and (max-width: 992px)
    +box-config(80%, auto, 5vh 4em 15vh, 20px)
    max-height: 40vh
    font-size: 1em
  @media (min-width: 993px)
    font-size: 1.125em
