nav
	position: fixed
	width: 200px
	background: $clr-orange-half
	h4
		line-height: 2em
		text-align: center
		color: #444
		font-family: cursive
		text-shadow: .5px .5px 1px #fff
		+no-cush

#myNavbar
	position: absolute
	top: 10vh
	+box-config(200px, auto, 10px, 0)
	z-index: 100
	border-radius: 10px
	border: thin solid #333
	opacity: .3
	transform: translate(-3%, -150%)
	+trans-1
nav:hover #myNavbar
	//left: 5px
	//top: 10vh
	opacity: 1
	color: $clr-med-grey
	z-index: 100
	transform: translate(-3%, -2.5vh)

#menu-top
	//+cush(0, 5px)
	+box-config(100%, 100%, 0, 5px 0)
	background-color: $clr-dark-blue-half
	font-family: $font-1
	text-align: center
	display: flex
	flex-flow: column
	border-radius: 15px
	z-index: 100
	+trans-1
	li
		position: relative
		+menu-style
		+box-config(90%, auto, 1px 5%, 5px)
		display: flex
		box-sizing: border-box
		border-radius: 15px
		//background-color: $grey-1
		a
			+menu-style
			+box-config(100%, auto, 0, 0)
			display: flex
			justify-content: center
			color: #fff
			background-color: $clr-med-grey
			font-size: 2em
			line-height: 40px
			letter-spacing: 1.25px
			border-right: 5px solid $clr-med-grey
			border-top: thin dashed $clr-med-grey
			border-bottom: thin dashed $clr-med-grey
			border-radius: 15px
			box-sizing: border-box
			+trans(color)
			&:hover
				//width: 95%
				//+cush(0, 0)
				background-color: rgba(4, 3, 3, .0)
				color: #fff
				border-right: 5px solid #fff
				border-top: thin dashed #fff
				border-bottom: thin dashed #fff
				text-shadow: 2px 1px 1px $clr-orange
				box-sizing: border-box
